.*
!.gitignore
*classes/
*~
/build.*.properties
!/build.daemon.properties
/dist/
build/
/lib/*
!/lib/ant-contrib.jar
!/lib/antelopetasks.jar
!/lib/bcpg-jdk16.jar
!/lib/bcprov-jdk16.jar
/liferay-portal
*.iml
ivy.xml.MD5
