.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html.aui-dialog-iframe-root-node {
	overflow:hidden;
}

.tip-content {
	overflow: auto;
	/* height: 24em; */
}

.tip-buttons .aui-field-choice .aui-field-content {
    margin-bottom: 1em;
    overflow: hidden;
}
 
.tip-buttons input.aui-button-input {
    width: 7em;
    margin-right: 1em;
}

.tip-buttons .btn {
    width: 30%;
    float: left;
    margin: 0 8px 0 0;
    padding: 4px 12px;
} 

.tip-of-the-day-portlet .fieldset  {
    margin-top: 20px;
    margin-bottom: 20px;
}

/***** Nav item checkbox CSS rules *****/

.aui input.tof-checkbox {
	vertical-align: top;
}

.tof-checkbox-a {
	overflow: auto;
	clear:both;
}

/***** Custon Dockbar CSS rules *****/
.aui .dockbar .nav li.dropdown .taglib-tip-of-the-day-help.dropdown-menu.tip-of-the-day-menu{
	left: auto;
	right: 0;
	min-width: 190px;
}

.aui .dockbar .nav li.dropdown.user-avatar .dropdown-menu {
    left: auto;
    right: 5px;
}
/***** End Custon Dockbar CSS rules *****/
